@import '@/assets/stylesheets/_tooltip.scss';
@import '@/assets/stylesheets/vars.scss';
h1 {
    font-size: var(--step-3);
    color: $color-secondary; 
    padding: $spacing-1 0;
    margin: 0;
}

h2 {
    font-size: var(--step-2);
    color: $color-secondary; 
    padding: $spacing-1 0;
    margin: 0;
}

h3 {
    font-size: var(--step-1);
    color: $color-secondary; 
    padding: $spacing-1 0;
    margin: 0;
}

p { 
    font-size: var(--step-0);
    color: $color-primary; 
    padding: 0;
    margin: 0;
}

li { 
    font-size: 20px;
    color: $color-primary;
    list-style-type: none;
}

ul { 
    padding: 0;
    margin: 0; 
}

img {
    user-select: none;
}

figure {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%; height: 100vh;
    background-color: $primary;
    overflow-y: scroll;
}

.content {
    width: auto;
    padding: $spacing-2;
}

.no-hl {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}

.hide-mb {
    display: none;
}

@keyframes fadeInDelay {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes blurIn {
    0% { backdrop-filter: blur(1px); }
    100% { backdrop-filter: blur(4px); }
}
        

@media (max-width: $mobile-size) {
    .wrapper {
        width: 100vw; height: 100%;
    }

    .app-wrapper {
        flex-direction: column;
    }
}

