@use '@/assets/stylesheets/vars.scss' as vars;
@import 'https://unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/github-dark.min.css';

#md-content {
    max-width: 1000px;
    margin: auto;
    h1 {
        margin: vars.$spacing-5 0;
    }

    h2 {
        margin: vars.$spacing-4 0;
    }

    h3 {
        margin: vars.$spacing-3 0;
    }

    p { 
        margin: vars.$spacing-2 0;
    }

    img {
        max-width: 100%;
    }

    a {
        color: vars.$tetriary;
        &:visited {
            color: vars.$quaternary-offset;
        }
        &:not([href]) {
            color: vars.$color-primary;
        }
    }

    li {
        position: relative;
        left: var(--step-1);
        font-size: var(--step-0);
        color: vars.$color-primary;
        list-style-type: "📖 ";
        max-width: 70vw;
    }

    pre {
        background-color: vars.$secondary;
        overflow-x: scroll;
        padding: vars.$spacing-5;
        code {
            font-size: var(--step-0);
            color: vars.$color-secondary;
            background-color: vars.$secondary;
        }
    }
}

@media (max-width: vars.$mobile-size) {
    #md-content {
        max-width: 100%;
    }
}
