$primary: #292736; 
$secondary: #000212;
$tetriary: #F2C57C;
$quaternary: #72E1D1; 

$primary-offset: rgba($primary, 0.7);
$secondary-offset: rgba($secondary, 0.7);
$tetriary-offset: rgba($tetriary, 0.7);
$quaternary-offset: rgba($quaternary, 0.7);

$color-primary: #77727D;
$color-secondary: #F1EAEB;

$spacing--1: 1.5px;
$spacing-0: 3px;
$spacing-1: 6px;
$spacing-2: 12px;
$spacing-3: 18px;
$spacing-4: 24px;
$spacing-5: 36px;
$spacing-6: 48px;

$tablet-size: 1024px;
$landscape-mobile-size: 768px;
$mobile-size: 600px;

:root {
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
}
